POSTGRES_VERSION=16.2
POSTGRES_PASSWORD=admin
POSTGRES_USERNAME=admin
POSTGRES_DATABASE=banco_dados
POSTGRES_CONTAINER=container_db
POSTGRES_LOCAL_PORT=35432
POSTGRES_CONTAINER_PORT=5432
POSTGRES_HOST=127.0.0.1
TIMEZONE=GMT-3